# Build artifacts
**/target
**.app
**.img

# macOS system files
.DS_Store

# VSCode settings and extensions
.vscode*

# Rust/Cargo
.Cargo.lock

# macOS specific build outputs
src/mac/macgui.*
src/mac/libmacgui.dylib
